@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import "./default";
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fafbfd;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  width: 100%;
}
.mainWrapper {
  position: relative;
  width: 100%;
  padding: 0 40px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400 !important;
}
.txtColor {
  color: $mainColor !important;
}
.BGColor {
  background-color: $mainColor !important;
}
