.navStyle {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.brand {
  color: #333333;
  margin: 0;
  display: block;
  font-size: 30px;
  text-transform: capitalize;
}
.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navList li {
  display: inline-block;
  margin: 0;
}
.navList li a {
  color: #222222;
  padding: 18px 20px;
  display: block;
  transition: all 0.3s;
}
.navList li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
