@import "./default";
#todaySchedule {
  padding: 20px 50px;
  background-color: white;
  height: 100%;
  & > header {
    .upperContent {
      display: flex;
      justify-content: space-between;
    }
    .addTodayTask {
      text-align: left;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      svg {
        margin-right: 15px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        padding: 10px;
        background-color: $mainColor;
        fill: white;
        border-radius: 70% 30% 58% 42% / 55% 69% 31% 45%;
      }
    }
  }
  .todayTaskList {
    margin-top: 40px;
    .item {
      background-color: #fafbfd;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      margin-bottom: 10px;
      header {
        background-color: $mainColor;
        padding: 10px 20px;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        user-select: none;
        cursor: pointer;
        .profileAndTitle {
          display: flex;
          align-items: center;
          .title {
            margin: 0 0 0 10px;
          }
        }
      }
      .description {
        padding: 10px 20px;
      }
    }
  }
}
