@import "./default";
#weeklySchedule {
  padding: 20px;
  .addWeeklyTask {
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    outline: none;
    margin-bottom: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    svg {
      margin-right: 15px;
      width: 40px;
      height: 40px;
      line-height: 50px;
      padding: 10px;
      background-color: $mainColor;
      fill: white;
      border-radius: 39% 61% 70% 30% / 46% 63% 37% 54%;
    }
  }
  .showWeeklyTask {
    .label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        color: $mainColor;
        font-size: 16px;
      }
    }
    .showTaskList {
      margin-bottom: 20px;

      .task-item {
        transition: all 0.3s;
        &:hover {
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        }
        .ant-card-body {
          display: flex;
          .task-info {
            margin-left: 20px;
            flex: 1;
            .title {
              margin: 0;
            }
            time {
              font-size: 14px;
              color: #a1a1a1;
            }
            .badge {
              margin: 10px 0;
              span {
                background-color: darken($mainColor, 20);
                color: white;
                padding: 2px 10px;
                border-radius: 10px;
                font-size: 12px;
                margin-right: 5px;
                text-transform: uppercase;
                &:last-child {
                  margin-right: 0;
                }
              }
            }

            .small-info {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
